<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о человеке</title>
</head>
<body>
<p th:text="'Идентификацонный номер: ' + ${person.getId()}">Value</p>
<p th:text="'ФИО: ' + ${person.getFio()}"></p>
<p th:text="'Год рождения: ' + ${person.getYear_birth()}"></p>
<br/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать данные</a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>