<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление новой книги</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="book_name">Введите название книги: </label>
    <input type="text" th:field="*{book_name}" id="book_name">
    <div style="color: red" th:if="${#fields.hasErrors('book_name')}" th:errors="*{book_name}"></div>
    <br>
    <label for="book_autor">Введите автора книги: </label>
    <input type="text" th:field="*{book_autor}" id="book_autor">
    <div style="color: red" th:if="${#fields.hasErrors('book_autor')}" th:errors="*{book_autor}"></div>
    <br>
    <label for="book_year">Введите год издания книги: </label>
    <input type="text" th:field="*{book_year}" id="book_year">
    <div style="color: red" th:if="${#fields.hasErrors('book_year')}" th:errors="*{book_year}"></div>
    <br>
    <input type="submit" value="Добавить">
</form>

</body>
</html>